// @import "./assets/scss/variables";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .card{
    color: var(--cl-darker-blue);
    font-size: var(--fs-lighter);
    // font-weight: var(--fw-700);
  }
}
